/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.box-style {
  width: 70vw;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  background-color: beige;
  justify-content: left;
  padding: 5%;
  margin: auto;
}
header {
  display: flex;
  height: 10vh;
  align-items: center;
  width: 90vw;
  background: skyblue;
  color: grey;
}
h1 {
  font-size: 2rem;
  font-weight: 5px;
  color: grey;
  width: 25vw;
}
header {
  justify-items: center;
  margin: 0 5vw;
}
header nav {
  display: flex;
  justify-content: space-around;
  width: 70vw;
}
header nav a {
  text-decoration: none;
  color: grey;
}
.content {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
}
.details {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  flex-wrap: wrap;
  width: 70vw;
}
.qualifications {
  background: lightgreen;
  width: 70vw;
  padding: 5%;
  margin: auto;
}
.education {
  width: 70vw;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  background-color: beige;
  justify-content: left;
  padding: 5%;
  margin: auto;
}
.experience {
  width: 70vw;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  background-color: beige;
  justify-content: left;
  padding: 5%;
  margin: auto;
}
.date {
  font-weight: 5rem;
  font-size: 1.5rem;
}
.sidebar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  width: 20vw;
  height: auto;
  background-color: yellow;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
}
